    *{
        margin: 0;
        font-family: Arial;
        border: border-box;
    }

    .navbar {
        height: 60px;
        background-color: #0f1111 ;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .navlogo{
        height: 55px;
        width: 100px;
        margin-top: 0;
    }

    .logo {
        background-image: url("Amazon1.png");
        background-size: cover;
        height:100%;
        width: 100%;
        }
    
    .border{
        border: 1.5px solid transparent;
    }

    .border:hover{
        border: 1.5px solid white;
        border-radius: 5%;
    
    }

    /** box 2 **/ 
    .first{
        color: #cccccc;
        font-size: 0.85rem;
        margin-left: 15px;

    }

    .sec{
        font-size: 1rem;
        margin-left: 4px;
        }
    .icon{
        display:flex;
        align-items: center;
    }
    /** box 3 **/
    .navsearch{
        display: flex;
        width: 650px;
        height: 40px;
        background-color: #f3f3f3;
        border-radius: 5px;
        margin-left: 8px;  
              
    }
    .navsearch:hover{
        border: 2px solid #febe00 ;
    }

    .nav-input {
       
        width: 620px;
        border: none;
        width: 100%;
        font-size: 1rem;
    }
    .nav-sel{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #f3f3f3 ;
        width: 50px;
        text-align: center;
        border: none;
        color: black;
    }
    
    .search-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: black;
        width: 45px;
        background-color: #febe00;
        border-top-right-radius: 5px;
        border-bottom-right-radius:5px ;
     }
     /** box 4 **/
     span{ 
        font-size: 0.7rem;
     }

     .sign-sec {
        font-size: 0.9rem;
        font-family: 700;
     }
    
     /** Box 6 **/
    .cart i{
        font-size: 25px;
    }

    /** Panel **/
    .panel{
        display: flex;
        color: white;
        background-color: #222f3d;
        height: 40px;
        align-items: center;
        justify-content: space-evenly;
    }
    .panel-ops p{
        display: inline;
        margin-left: 15px;
    }
    .panel-ops{
      width: 70%;
      font-size: 0.85rem;
    }

    .deals{
        font-size: 0.9rem;
        font-weight: 700;
    }
    
    /** hero **/
    .hero-section{
        background-image: url("hero1.jpg");
        height: 600px;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 400px;
    
    }
    #hero-mess{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px ;
        font-size: 0.9rem;
        margin-bottom: 35px;
        width:95%;

    }
    #hero-mess a{
        color: #007185;
    }
/** shop **/
.shop{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(73, 2, 196);
    justify-content: space-evenly;

}   

    .box{
       /* border: 2px solid black;*/
        height: 400px;
        width: 23%;
        background-color: white;
        padding: 20px 0px 15px;
        margin: 15px;
       
    }
    .box-img{
        height: 310px;
        background-size: cover;
    }

    .box-cont{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .box p{
        margin-top: 20px;
    }

    a{
        text-decoration: none;
    }

    .foot-panel1{
        color: white;
        background-color: #37475a;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.85rem;
        margin-top: 15px;
    }

    .foot-panel2{
        background-color: #222f3d;
        color: white;
        display: flex;
        justify-content: space-evenly;
        height: 300px;
        
    }

    ul{
        margin-top: 50px;
    }
    .foot-panel2 a{
        display: block;
        font-size: 0.85rem;
        margin-top: 10px;
        color: #dddddd;
        
    }
    .foot-panel3{
        background-color: #222f3d;
        color: #cccccc;
        border-top: 0.5px solid white;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo1{
        background-image: url("Amazon1.png");
        background-size: cover;
        height:50px;
        width: 100px;

    }

    .foot-panel4{
        background-color:#0f1111 ;
        color: white;
        height: 80px;
    }
    .pages{
        font-size: 0.75rem;
        text-align: center;
        padding-top: 25px;   
     }
    .copy{
        font-size: 0.75rem;
        padding-top: 5px;
        text-align: center;
    }    